/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header from here*/
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

/*main from here*/
main {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.flow-item {
  width: 300px;
  margin-right: 30px;
  background-color: #eeeeee;
  position: relative;
}

.flow-item:last-child {
  margin-right: 0;
}

.flow-content {
  padding: 10px;
}

.flow-step {
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.flow-image {
  width: 280px;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
}

.flow-image-1 {
  background-image: url(img/flow01.png);
}

.flow-image-2 {
  background-image: url(img/flow02.png);
}

.flow-image-3 {
  background-image: url(img/flow03.png);
}

.flow-text-heading {
  margin-bottom: 5px;
}

.flow-text-phrase {
  color: #808080;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}